<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <!--CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["CSSFile"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThomasianMemoir.styles.css" asp-append-version="true" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--Favicon-->
    <link rel="icon" href="~/img/Thomasian_Memoir_Logo.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar" id="menu-bar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Homepage">
                    <img src="~/img/Logo_with_Name.png" alt="UST Logo" class="navImg">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                    <span class="fa-solid fa-bars menu-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link link1" asp-area="" asp-controller="Dashboard" asp-action="Homepage">HOME</a></li>
                        <li class="nav-item"><a class="nav-link link2" asp-area="" asp-controller="Profile" asp-action="Profile">PROFILE</a></li>
                        <!--Change if logout implemented-->
                        <li class="nav-item"><a class="nav-link link3" asp-area="" asp-controller="Home" asp-action="Index">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <!--Footer-->
    <footer class="footer mt-auto py-3" style="text-align:center; background-color:#272218;">
        <div class="footerContent">
            ITELEC1C Final Project "Thomasian Memoir" by Kevin Kyle C. Coraza, Steve C. De Vera, Miguel Carlo G. Fajardo, Ira Rayzel S. Ji, Arianne Ashley M. Manaog
            <hr style="margin:0.3rem;">
            University of Santo Tomas A.Y. 2023-2024 &bull; ITELEC1C 3ITE Group 8
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="@ViewData["JSFile"]" asp-append-version="true"></script>
    <script src="@ViewData["JSFile2"]" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>